* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-header {
    background-color: #022424;
    height: 100%;
}

.main {
    background-color: aqua;
}